<mat-card class="pokemon-card" [ngClass]="getPokemonClassColor(pokemon.types[0].name)" *ngIf="pokemon">
    <mat-card-header>
        <img mat-card-avatar [src]="getPokemonImage(pokemon.number)">
        <mat-card-title>{{pokemon.name}} {{pokemon.person }} <mat-label>{{pokemon.level}}</mat-label>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let type of pokemon.types" [ngClass]="getPokemonClassColor(type.name + '-chip')">
                    {{type.name}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="10">
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="HP" color="warn">favorite</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="7">
                <mat-progress-bar color="warn" [value]="getPokemonPercentHp(pokemon.hp, pokemon.hpMax)">
                </mat-progress-bar>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                {{pokemon.hp}}/{{pokemon.hpMax}}
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="10">
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Ataque" color="primary">local_fire_department</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>
                {{pokemon.atack}}
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Defesa" color="primary">shield</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>{{pokemon.def}}
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Ataque Especial" color="accent">
                    local_fire_department</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>{{pokemon.atackSpec}}
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Defesa Especial" color="accent">shield
                </mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>{{pokemon.defSpec}}
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Velocidade" color="primary">speed</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile>{{pokemon.speed}}
            </mat-grid-tile>
        </mat-grid-list>
        

    </mat-card-content>
</mat-card>